extends base.pug
block head
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js')
  script(type='text/javascript' src='{{ url_for("static", filename="js/main.js") }}' defer)
  link(rel='stylesheet' href='{{ url_for("static", filename="css/home.css") }}')

block content
  main
    .rooms
      .rooms-header
        h2 Rooms
        img(src='{{ url_for("static", filename="assets/add.svg") }}' id='addRoomButton')
      .room-list
    .chat
      .messages(id='messages')
        each message in messages
          if message.sender.username == sender
            ul.sent-message
              li.sender= message.sender.username
              li.message= message.message
          else
            ul.received-message
              li.sender= message.sender.username
              li.message= message.message
      .send
        input(type='text' id='newMessage' placeholder="What's on your mind?")
        button(type='submit' id='sendButton') Send
        span(id='sender') #{sender}
    .users
      h4 Online Users
      ul(id='onlineUsers')
        each user in users
          if user.is_online
            li= user.username
      h4 Offline Users
      ul(id='offlineUsers')
        each user in users
          unless user.is_online
            li= user.username
