extends base.pug
block head
  script(type='text/javascript' src='https://unpkg.com/axios/dist/axios.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js')
  script(type='text/javascript' src='{{ url_for("static", filename="js/main.js") }}' defer)
  link(rel='stylesheet' href='{{ url_for("static", filename="css/home.css") }}')

block content
  main
    .roomsSection
      .roomHeader
        h2 Rooms
        img(src='{{ url_for("static", filename="assets/add.svg") }}' id='addRoomButton')
      .roomList
        ul.rooms
          each room in rooms
            li.room= room.name
      .settings
        img(src='{{ url_for("static", filename="assets/settings.svg") }}' id='settingsButton')
    .chat
      .messages(id='messages')
        each message in messages
          if message.sender.username == sender
            ul.sent-message
              li.sender= message.sender.username
              li.message= message.message
          else
            ul.received-message
              li.sender= message.sender.username
              li.message= message.message
      .send
        input(type='text' id='newMessage' placeholder="What's on your mind?")
        button(type='submit' id='sendButton') Send
        span(id='sender') #{sender}
    .users
      h4 Online Users
      ul(id='onlineUsers')
        each user in users
          if user.is_online
            li.user= user.username
      h4 Offline Users
      ul(id='offlineUsers')
        each user in users
          unless user.is_online
            li.user= user.username
    .backdrop      
    .addRoomModal
      h5.close x
      form.addRoomForm
        | {{ form.hidden_tag() }}
        fieldset
          legend Add Chat Room
          | {{ form.name.label }}
          if form.name.errors
            | {{ form.name(class='is-invalid roomName') }}
            .invalid-feedback
              each error in form.name.errors
                p= error
          else
            | {{ form.name(class='roomName') }}
          | {{ form.description.label }}
          if form.description.errors
            | {{ form.description(class='is-invalid roomDescription') }}
            .invalid-feedback
              each error in form.description.errors
                p= error
          else
            | {{ form.description(class='roomDescription')}}
        .submit
          | {{ form.submit(class="addRoomFormSubmit") }}
      
