extends base.pug
block head
  script(type='text/javascript' src='https://unpkg.com/axios/dist/axios.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js')
  script(type='text/javascript' src='long-press-event.js')
  script(type='text/javascript' src='{{ url_for("static", filename="js/main.js") }}' defer)
  link(rel='stylesheet' href='{{ url_for("static", filename="css/home.css") }}')

block content
  main
    .roomsSection
      .roomHeader
        h2 Rooms
        img(src='{{ url_for("static", filename="assets/add.svg") }}' id='addRoomButton')
      .roomList
        ul.rooms
          each room in rooms
            li.room= room.name
      .settings
        img(src='{{ url_for("static", filename="assets/settings.svg") }}' id='settingsButton')
    .chat
      .messages(id='messages')
        each message in messages
          if message.sender.username == sender.username
            ul.sentMessage
              li.sender= message.sender.username
              li.message= message.message
          else
            ul.receivedMessage
              li.sender= message.sender.username
              li.message= message.message
      .send
        input(type='text' id='newMessage' placeholder="What's on your mind?")
        .sendActions
          button(type='button' id='disruptedSendButton') Send Disruption
          button(type='submit' id='sendButton') Send
        span(id='sender') #{sender.username}
    .users
      h4 Online Users
      ul(id='onlineUsers')
        each user in users
          if user.is_online
            li.user= user.username
      h4 Offline Users
      ul(id='offlineUsers')
        each user in users
          unless user.is_online
            li.user= user.username
    .backdrop      
    .addRoomModal
      h5.closeAddRoom #[img(src='{{ url_for("static", filename="assets/close.svg") }}' alt='close modal')]
      form.addRoomForm
        | {{ add_room_form.hidden_tag() }}
        fieldset
          legend Add Chat Room
          | {{ add_room_form.name.label }}
          if add_room_form.name.errors
            | {{ add_room_form.name(class='is-invalid roomName') }}
            .invalid-feedback
              each error in add_room_form.name.errors
                p= error
          else
            | {{ add_room_form.name(class='roomName') }}
          | {{ add_room_form.description.label }}
          if add_room_form.description.errors
            | {{ add_room_form.description(class='is-invalid roomDescription') }}
            .invalid-feedback
              each error in add_room_form.description.errors
                p= error
          else
            | {{ add_room_form.description(class='roomDescription')}}
        .submit
          | {{ add_room_form.submit(class="addRoomFormSubmit") }}
    .settingsModal
      h5.closeSettings #[img(src='{{ url_for("static", filename="assets/close.svg") }}' alt='close modal')]
      form.updateAccountForm
        | {{ update_account_form.hidden_tag() }}
        fieldset
          legend Settings
          | {{ update_account_form.username.label }}
          if update_account_form.username.errors
            | {{ update_account_form.username(class='is-invalid updatedUsername', value=sender.username) }}
            .invalid-feedback
              each error in update_account_form.username.errors
                p= error
          else
            | {{ update_account_form.username(class='updatedUsername', value=sender.username) }}
          | {{ update_account_form.email.label }}
          if update_account_form.email.errors
            | {{ update_account_form.email(class='is-invalid updatedEmail', value=sender.email) }}
            .invalid-feedback
              each error in update_account_form.email.errors
                p= error
          else
            | {{ update_account_form.email(class='updatedEmail', value=sender.email)}}
        .submit
          | {{ update_account_form.submit(class='updatedSubmit') }}
      button(id="signout") Sign Out
      
